page-location {


  .location-content {
    ion-row {
      align-items: center;
      text-align: center;
    }
    .location-box {
      //background: #399F8B;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }
  }


  #button {
    //margin-top: 90px;
    background-color: rgb(235, 235, 117);
    padding: 2px 4px;
    font: 13px sans-serif;
    text-decoration: none;
    border: 1px solid #000;
    border-color: #aaa #444 #444 #aaa;
    color: #000
  }

}
